:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.3em;

  color-scheme: light dark;
  color: black;
  background-color: rgb(210, 223, 223);
}

header {
  display: flex;
  font-size: 2.5em;

  justify-content: center;
  font-family: serif;
}

ul#menu {
  display: flex;

  list-style-type: none;

  justify-content: space-around;
  width: 100%;

  text-decoration: underline;
  color: white;
  background-color: rgb(126, 221, 243);
}

#left {
  display: flex;
  float: left;
  justify-content: center;
  flex-direction: column;

  border: 2.3px solid rgb(126, 221, 243);

  margin-left: 5%;

  padding-top: 0.2%;
  padding-right: 0.2%;
  padding-left: 0.2%;
}

#paragraph {
  display: flex;

  flex-direction: column;
  justify-content: center;
  width: 75%;

  padding-top: 2%;
  padding-left: 5%;
}

h {
  font-size: 30px;
  font-weight: bold;
}

ul#imagePoints {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ddd0d0;
  height: auto;
  width: 100%;
}

ol {
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
  list-style-type: none;
  width: 100%;
}
